body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 80px auto;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    line-height: 1.5em;
  }
  
  .container h1 {
    text-align: center;
  }
  
  .container li {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  ul {
    width: fit-content;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul li {
    display: inline-block;
    margin-right: 20px;
  }

  li::before {
    content: "•";
    margin-right: 10px;
    color: #444;
  }
  
  a {
    color: #444;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: #777;
  }
  .button {
    display:inline-flex;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #0b7dda;
    color: #f5f5f5;
  }
  
  .play-button {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    background-color: #2196f3;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
  }
